# Server Configuration
PORT=8001
# DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require
NODE_ENV=development

# Database Configuration
DB_STORAGE=./database.sqlite

# Auth Configuration
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h
BCRYPT_ROUNDS=10

# URLs
FRONTEND_URL=http://localhost:5000

# Seeding Data (Optional)
SEED_ADMIN_NAME=Administrador
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=admin_password
SEED_TECH_NAME=Técnico Hidrobombas
SEED_TECH_EMAIL=tech@example.com
SEED_TECH_PASSWORD=tech_password
